{:paths   ["src" ]
 :deps    {org.clojure/clojure       {:mvn/version "1.11.0-alpha1"}
           org.clojure/core.async    {:mvn/version "1.3.618"}
           org.clojure/data.csv      {:mvn/version "1.0.0"}
           org.clojure/data.json     {:mvn/version "2.4.0"}
           org.clojure/data.xml      {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.zip      {:mvn/version "1.0.0"}
           org.clojure/tools.logging {:mvn/version "1.1.0"}

           cli-matic/cli-matic       {:mvn/version "0.4.3"}
           clj-bom/clj-bom           {:mvn/version "0.1.2"}
           clj-http/clj-http         {:mvn/version "3.12.3"}
           datalevin/datalevin       {:mvn/version "0.4.40"}
           com.wsscode/pathom3       {:mvn/version "2021.08.14-alpha"}}

 :aliases {

           :available   {:exec-fn com.eldrix.deprivare.core/print-available}
           :info        {:exec-fn com.eldrix.deprivare.core/dataset-info}
           :install     {:exec-fn  com.eldrix.deprivare.core/install
                         :jvm-opts ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                    "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                    "--illegal-access=permit"]}
           :install-all {:exec-fn  com.eldrix.deprivare.core/install-all
                         :jvm-opts ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                    "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                    "--illegal-access=permit"]}
           :installed   {:exec-fn  com.eldrix.deprivare.core/print-installed
                         :jvm-opts ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                    "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                    "--illegal-access=permit"]}
           :server      {:exec-fn     com.eldrix.deprivare.server/run-server
                         :exec-args   {:port 8080}
                         :extra-paths ["server"]
                         :extra-deps  {io.pedestal/pedestal.service   {:mvn/version "0.5.9"}
                                       io.pedestal/pedestal.jetty     {:mvn/version "0.5.9"}
                                       ch.qos.logback/logback-classic {:mvn/version "1.2.5"}}
                         :jvm-opts    ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                       "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                       "--illegal-access=permit"]}

           :pathom-viz  {:extra-deps {com.wsscode/pathom-viz-connector {:mvn/version "2021.07.15-1"}}}

           :test        {:extra-paths ["test" "test/resources"]
                         :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                  :sha     "4e7e1c0dfd5291fa2134df052443dc29695d8cbe"}}
                         :main-opts   ["-m" "cognitect.test-runner"]}

           :log         {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.5"}}}

           :outdated    {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                         :main-opts  ["-m" "antq.core"]}

           :check       {:extra-deps {athos/clj-check
                                      {:git/url "https://github.com/athos/clj-check.git"
                                       :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
                         :main-opts  ["-m" "clj-check.check" "src"]}

           :lint/kondo
                        {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                         :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
                        {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "server"]}]
                         :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}

           :jar         {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
                         :exec-fn      hf.depstar/jar
                         :exec-args    {:jar "target/deprivare-v0.1.0.jar"}}}}
